In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, classification_report
from lazypredict.Supervised import LazyClassifier
from sklearn.svm import NuSVC
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from sklearn.neighbors import NearestCentroid

/Users/cnieto/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
df = pd.read_csv('dataset_final.csv')

In [3]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,991,992,993,994,995,996,997,998,999,Target
0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0
1,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
2,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
3,3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.03,0
4,4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
X = df.drop('Target',axis=1)
y = df.Target

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [7]:
model = LogisticRegression()

In [8]:
model.fit(X_train,y_train)

LogisticRegression()

In [9]:
y_pred = model.predict(X_test)

In [10]:
model.score(X_test,y_test)

0.5283018867924528

In [11]:
print((confusion_matrix(y_test,y_pred)))

[[27  1]
 [24  1]]

In [12]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.53      0.96      0.68        28
           1       0.50      0.04      0.07        25

    accuracy                           0.53        53
   macro avg       0.51      0.50      0.38        53
weighted avg       0.52      0.53      0.40        53

THIS CODE DOES NOT WORK ON JUPYTER NOTEBOOK:
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)

Results of the previous cell (top 5 models):

                              Accuracy  Balanced Accuracy  ROC AUC  F1 Score  Time Taken
Model                                                                                    
NuSVC                              0.64               0.64     0.64      0.64        0.14
ExtraTreesClassifier               0.62               0.63     0.63      0.61        0.29
GaussianNB                         0.62               0.63     0.63      0.61        0.06
RandomForestClassifier             0.62               0.63     0.63      0.61        0.42
NearestCentroid                    0.62               0.63     0.63      0.61        0.05

In [13]:
model = NuSVC()

In [14]:
model.fit(X_train,y_train)

NuSVC()

In [15]:
y_pred = model.predict(X_test)

In [16]:
model.score(X_test,y_test)

0.5283018867924528

In [17]:
print((confusion_matrix(y_test,y_pred)))

[[17 11]
 [14 11]]

In [18]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.55      0.61      0.58        28
           1       0.50      0.44      0.47        25

    accuracy                           0.53        53
   macro avg       0.52      0.52      0.52        53
weighted avg       0.53      0.53      0.53        53

- Repeat for dataset of rotated images

In [19]:
df = pd.read_csv('dataset_final_rotated.csv')

In [20]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,991,992,993,994,995,996,997,998,999,Target
0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0
1,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
2,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0
3,3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.03,0
4,4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0

In [21]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [22]:
X = df.drop('Target',axis=1)
y = df.Target

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [24]:
model = LogisticRegression()

In [25]:
model.fit(X_train,y_train)

LogisticRegression()

In [26]:
y_pred = model.predict(X_test)

In [27]:
model.score(X_test,y_test)

0.49056603773584906

In [28]:
print((confusion_matrix(y_test,y_pred)))

[[25  1]
 [26  1]]

In [29]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.49      0.96      0.65        26
           1       0.50      0.04      0.07        27

    accuracy                           0.49        53
   macro avg       0.50      0.50      0.36        53
weighted avg       0.50      0.49      0.35        53

In [30]:
model = NuSVC()

In [31]:
model.fit(X_train,y_train)

NuSVC()

In [32]:
y_pred = model.predict(X_test)

In [33]:
model.score(X_test,y_test)

0.6037735849056604

In [34]:
print((confusion_matrix(y_test,y_pred)))

[[20  6]
 [15 12]]

In [35]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.57      0.77      0.66        26
           1       0.67      0.44      0.53        27

    accuracy                           0.60        53
   macro avg       0.62      0.61      0.59        53
weighted avg       0.62      0.60      0.59        53